:root {
    --colorPetrolBlue: #14213D;
  }

.next{
    color: var(--colorPetrolBlue);
    font-size: 30px;
    position: relative;
    bottom: 160px;
    left: 250px;
    cursor: pointer;
}

.prev{
    color: var(--colorPetrolBlue);
    font-size: 30px;
    position: relative;
    top: 190px;
    right: 250px;
    cursor: pointer;
}


@media  (max-width: 650px) {

     .next{
        font-size: 15px;
        position: relative;
        bottom: 256px;
        left: 115px;
     }


      .prev{
        font-size: 15px;
        position: relative;
        top: -5px;
        left: 80px;
      }
        
}