body {
    font-family: "Segoe UI", sans-serif;
    font-size:100%;
    margin:0;
    padding:0;
}

header {
    background:#333;
    color:#eee;
    width:100%;
}

input#abrir-cerrar {
    visibility:hidden;
    position: absolute;
    top: -9999px;
}


label[for="abrir-cerrar"] {
    cursor:pointer;
    padding: 1rem;
    background-color:#333;
    color:#fff;
    display:inline-block;
    width:65%;

}

.cerrar {
    display:none;
}

#sidebar {
    width:0;
}



input#abrir-cerrar:checked ~ #sidebar {
    width:300px;
}

input#abrir-cerrar:checked + label[for="abrir-cerrar"], input#abrir-cerrar:checked ~ #contenido {
    margin-left:-20px;
    transition: margin-left .4s;
}


input#abrir-cerrar:checked + label[for="abrir-cerrar"] .cerrar {
    display:inline;
}

input#abrir-cerrar:checked + label[for="abrir-cerrar"] .abrir {
    display:none;
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #00324b;
    opacity: 0.95;
    overflow-x: hidden;
    transition: 0.4s;
    padding: 1rem 0;
    box-sizing:border-box;
}

.sidebar .boton-cerrar {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 2rem;
    display: block;
    padding: 0;
    line-height: 1.5rem;
    margin: 0;
    height: 32px;
    width: 32px;
    text-align: center;
   
}

.sidebar ul, .sidebar li{
    margin:0;
    padding:0;
    list-style:none inside;
}

.sidebar ul {
    margin-top: 200px;
    display: block;
    width: 80%;
    min-width:200px;
}

.abrir-cerrar {
    color: #2E88C7;
    font-size:medium;   
}

.primero{
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 20px;
    border-radius: 15px;
    width: 150px;
    
}

